[submodule "third_party/harfbuzz"]
	path = third_party/harfbuzz
	url = https://github.com/rive-app/harfbuzz.git
        branch = rive_8.3.0
[submodule "third_party/sheenbidi"]
	path = third_party/sheenbidi
	url = https://github.com/Tehreer/SheenBidi.git
        branch = v2.6
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/rive-app/miniaudio.git
        branch = rive_changes
[submodule "third_party/yoga"]
	path = third_party/yoga
	url = https://github.com/rive-app/yoga.git
        branch = rive_changes_v2_0_1
